<h2 class="title"><span class="orange">Retras TV -</span> Bienvenue sur le stream, installes toi !</h2>

<iframe
  id="stream"
  src="https://player.twitch.tv/?channel=retrastv"
  frameborder="0"
  allowfullscreen="true"
  scrolling="no"
></iframe>

<div class="chat">
  <img src="../../assets/img/angle_chat_haut.png" alt="anglehaut" class="angles anglehaut">
  <img src="../../assets/img/angle_chat_bas.png" alt="anglebas" class="angles anglebas">
  <iframe
    id="chatiframe"
    src="https://www.twitch.tv/embed/retrastv/chat"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>