@font-face {
  font-family: bebas;
  src: url("./assets/font/BebasNeue-Regular.ttf");
}

html,
body {
  height: auto;
}
body {
  margin: 0;
  font-family: "bebas";
  background: white;
  color: black;
  margin-bottom: 100px;
}
::-webkit-scrollbar {
  height: 0px;
  width: 6px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #f58c1f;
}
