<h2>Qu'est-ce que la RetrasTV</h2>

<p class="channelDescription">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita perferendis
  ipsam saepe molestias, aperiam et rerum reiciendis quo totam fugit, laboriosam
  quas ipsum dolores dicta hic! Necessitatibus perspiciatis ut nesciunt!
</p>

<ul>
  <i>
    <div class="desc">
      <img class="imgDesc" src="#" alt="Photo de profil du streamer" />
      <div class="textDesc">
        <h3 class="streamerName">Deasp</h3>
        <p class="streamerDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum,
          aspernatur laborum repellendus optio, quaerat alias eveniet saepe
          numquam quibusdam atque fugit facilis nobis perspiciatis laboriosam
          nesciunt quo, provident magni.
        </p>
      </div>
    </div>
  </i>
  <i>
    <div class="desc">
      <img class="imgDesc" src="#" alt="Photo de profil du streamer" />
      <div class="textDesc">
        <h3 class="streamerName">Efique</h3>
        <p class="streamerDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum,
          aspernatur laborum repellendus optio, quaerat alias eveniet saepe
          numquam quibusdam atque fugit facilis nobis perspiciatis laboriosam
          nesciunt quo, provident magni.
        </p>
      </div>
    </div>
  </i>
  <i>
    <div class="desc">
      <img class="imgDesc" src="#" alt="Photo de profil du streamer" />
      <div class="textDesc">
        <h3 class="streamerName">Skynokk</h3>
        <p class="streamerDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum,
          aspernatur laborum repellendus optio, quaerat alias eveniet saepe
          numquam quibusdam atque fugit facilis nobis perspiciatis laboriosam
          nesciunt quo, provident magni.
        </p>
      </div>
    </div>
  </i>
  <i>
    <div class="desc">
      <img class="imgDesc" src="#" alt="Photo de profil du streamer" />
      <div class="textDesc">
        <h3 class="streamerName">Venomania</h3>
        <p class="streamerDesc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum,
          aspernatur laborum repellendus optio, quaerat alias eveniet saepe
          numquam quibusdam atque fugit facilis nobis perspiciatis laboriosam
          nesciunt quo, provident magni.
        </p>
      </div>
    </div>
  </i>
</ul>
