.title,
.channelDescription,
.textDesc {
  text-shadow: 0.5px 0.5px black;
}

.title,
.channelDescription {
  text-align: center;
}

.title {
  margin: 16px 0px;
}

.bordure {
  border-bottom: 1px solid white;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  width: fit-content;
}
.desc {
  display: grid;
  grid-template-columns: auto auto;
  width: 75%;
  margin: 10px auto;
}

.textDesc {
  align-self: center;
  font-size: 1.25em;
  text-align: justify;
}
