.title,
.channelDescription {
  text-align: center;
}

.title {
  margin: 16px 0px;
}

.bordure {
  border-bottom: 1px solid black;
}

.imgDesc {
  width: 20%;
}

.textDesc {
  width: 80%;
  display: inline-block;
}

.desc {
  display: inline;
}
