.title,
.channelDescription,
.textDesc {
  text-shadow: 0.5px 0.5px black;
}

.title,
.channelDescription {
  text-align: center;
}

.title {
  margin: 16px 0px;
}

.bordure {
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
}

.desc {
  position: relative;
  display: inline-block;
  height: 310px;
  width: 100%;
}

.imgDesc {
  width: 20%;
  position: absolute;
}

.textDesc {
  width: 80%;
  margin-left: 20%;
  position: relative;
  display: inline-block;
}
