<div class="bordure"></div>

<h2 class="title">Qu'est-ce que la RetrasTV</h2>

<p class="channelDescription">
  Bonjour, nous sommes quatre potes ayant tous les quatres la vingtaine : Deasp,
  Efique, Venomania et SkyNokK. <br />
  Nous jouons principalement sur PC mais également un peu sur PS4. Nous sommes
  également en stream tous les jours de 20h à 22h. <br />
  Pour plus d'informations, pensez à checker le planning !
</p>

<div class="bordure"></div>

<ul>
  <li>
    <div class="desc">
      <img
        class="imgDesc"
        src="../../assets/img/Deasp.png"
        alt="Photo de profil du streamer"
      />
      <div class="textDesc">
        <h3 class="streamerName">Deasp</h3>
        <p class="streamerDesc">
          Deasp alias Deasp, joueur League of legend et Hearthstone
          principalement, il excelle dans la mise en place de stream de qualité
          pour ses viewers. passioné, et en recherche constante de perfection,
          il améliore son skill au quotidien pour atteindre l'objectif ultime...
          le CHALLENGER. du haut de ses 21 pommes il répondra sans aucun
          scrupules à vos questions les plus intimes sur un stream chaleureux
          aux couleurs de la bonne humeur.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="desc">
      <img
        class="imgDesc"
        src="../../assets/img/Efique.png"
        alt="Photo de profil du streamer"
      />
      <div class="textDesc">
        <h3 class="streamerName">Efique</h3>
        <p class="streamerDesc">
          Hello, Valentin, 23 ans. Je suis un joueur multigaming, de World of
          Warcraft à Counter-Strike, en passant par Age of Empire. Avec un coté
          try hard, j’apprécie papoter avec vous et chill sur des jeux plus
          posay.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="desc">
      <img
        class="imgDesc"
        src="../../assets/img/Skynokk.png"
        alt="Photo de profil du streamer"
      />
      <div class="textDesc">
        <h3 class="streamerName">Skynokk</h3>
        <p class="streamerDesc">
          Yo ! Moi c'est Jean. Je stream pour le plaisir sur tout type de jeux
          et j'échange avec vous, euh c'est quoi le mot ? Ah oui, c'est
          interactif. Bah du coup, mon stream est interactif, vous pouvez
          participer en parlant sur le chat ou en jouant avec moi.
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="desc">
      <img
        class="imgDesc"
        src="../../assets/img/Venomania.png"
        alt="Photo de profil du streamer"
      />
      <div class="textDesc">
        <h3 class="streamerName">Venomania</h3>
        <p class="streamerDesc">
          Je me présente je m'appelle Bruno j'suis d'origine portugaise. Je suis
          un joueur lambda qui kiff jouer à tout genre de jeux, je stream pour
          le fun. Si tu aimes les débats sur tout et rien et si tu aimes rigoler
          n'hésite pas à passer me voir.
        </p>
      </div>
    </div>
  </li>
</ul>
