.logo {
  height: 45%;
  width: 45%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.menu {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 2%;
}

ul {
  margin-top: 0;
}

a {
  margin-right: 25px;
}
